<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cau5_init_struct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F784FCC91F0CC42200A3E44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F784FCDD1F0CC42200A3E44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F784FCE81F0CC42200A3E44C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
